/* =================================
 css index
 =================================
 *. typography
 *. section title
 *. preloader
 *. normalize
 1. header
 2. banner
 3. info-feature
 4. litehyip features
 5. we thinking global
 6. inventors
 7. testimonial
 8. newsletter
 9. page title
 10. footer
 11. about
 12. investmenut-plan
 13. faq
 14. contact */
/*==========================================
    typography
===========================================*/
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800,900");
html {
  scroll-behavior: smooth; }

/*==========================================
    section title
==========================================*/
.section-title {
  text-align: center;
  margin-bottom: 60px; }
  .section-title h2 {
    color: #007bff;
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 21px;
    margin-top: -9px; }
  .section-title p {
    font-size: 16px;
    color: #182C61;
    line-height: 28px;
    margin-bottom: -5px;
    font-weight: 500; }

.c-white {
  color: #fff; }

@media only screen and (max-width: 991px) {
  .row.reorder-xs {
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    direction: rtl; }
  .row.reorder-xs > [class*="col-"] {
    -ms-transform: rotate(-180deg);
    /* IE 9 */
    -webkit-transform: rotate(-180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-180deg);
    direction: ltr; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .row.homepage-about-xs {
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    direction: rtl; }
  .row.homepage-about-xs > [class*="col-"] {
    -ms-transform: rotate(-180deg);
    /* IE 9 */
    -webkit-transform: rotate(-180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-180deg);
    direction: ltr; } }

/*==========================================
    Preloader
==========================================*/
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 555;
  background: white; }
  .preloader .progress {
    background: #007bff;
    -webkit-animation: preloader 5s infinite;
    animation: preloader 5s infinite; }

@-webkit-keyframes preloader {
  0% {
    width: 2%; }
  50% {
    width: 20%; }
  100% {
    width: 2%; } }

@keyframes preloader {
  0% {
    width: 2%; }
  50% {
    width: 20%; }
  100% {
    width: 2%; } }

/*==========================================
    scroll to top button
==========================================*/
.scroll-to-top {
  position: fixed;
  right: 50px;
  bottom: 80px;
  display: inline-block;
  z-index: 9;
  width: 40px;
  height: 40px;
  background: #052157;
  border: 2px solid #fff;
  text-align: center; }

.scroll-to-top a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  padding: 2px 0 0px 0;
  display: inline-block; }

.scroll-to-top a i {
  color: #fff; }

/*==========================================
    normalize
==========================================*/
html {
  font-family: "Raleway", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden; }

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  margin: 0;
  color: #3d5169;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6, a {
  line-height: 1.3; }

p {
  line-height: 1.6; }

a {
  color: #3d5169;
  text-decoration: none; }

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none; }

a i {
  padding: 0 2px; }

img {
  max-width: 100%; }

/*input and button type focus outline disable*/
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ddd; }

/**
 * 5.0 - Alignments
 */
.alignleft {
  float: left; }

.alignright {
  float: right; }

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 1.75em; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/*==========================================
    header
==========================================*/
.header {
  position: absolute;
  width: 100%;
  z-index: 55;
  background: #fff;
  -webkit-box-shadow: 0 7px 27px -9px rgba(58, 58, 58, 0.2);
  box-shadow: 0 7px 27px -9px rgba(58, 58, 58, 0.2);
  display: none; }
  .header .logo {
    height: 40px; }
    .header .logo img {
      height: 100%; }
  .header .buy-button {
    padding: 25px 0;
    text-align: right; }
    .header .buy-button a {
      display: inline-block;
      height: 50px;
      width: 160px;
      background: #b10845;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      line-height: 50px;
      font-weight: 600;
      border-radius: 50px;
      -webkit-box-shadow: 0px 2px 6px 0px #b10845;
      box-shadow: 0px 2px 6px 0px #b10845;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in; }
      .header .buy-button a:hover {
        background: transparent;
        color: #b10845; }

/*==========================================
    banner
==========================================*/
.banner {
  background: url("../img/banner.jpg") bottom center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
  border-bottom: 5px solid rgba(0, 123, 255, 0.3); }
  .banner:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #b10845;
    opacity: .95;
    z-index: -1; }
  .banner .banner-content {
    padding: 180px 0; }
    .banner .banner-content img {
      width: 550px;
      margin-bottom: 75px; }
    .banner .banner-content h2 {
      font-size: 48px;
      font-weight: 800;
      line-height: 1.3;
      color: #007bff;
      text-shadow: 4px 5px 7px rgba(0, 0, 0, 0.27);
      margin-bottom: 23px; }
    .banner .banner-content p {
      color: #182C61;
      font-size: 16px;
      line-height: 30px; }
    .banner .banner-content a {
      display: inline-block;
      height: 50px;
      width: 160px;
      background: #007bff;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      line-height: 50px;
      font-weight: 600;
      border-radius: 50px;
      -webkit-box-shadow: 0 7px 27px -9px #007bff;
      box-shadow: 0 7px 27px -9px #007bff;
      margin-top: 28px;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in; }
      .banner .banner-content a:hover {
        background: #fff;
        color: #007bff; }
  .banner .part-img img {
    width: 700px;
    max-width: none; }

/*==========================================
    pages
==========================================*/
.pages {
  padding: 120px 0 71px; }
  .pages .col-xl-4 .single-pages .part-img {
    height: 390px; }
  .pages .single-pages {
    margin-bottom: 46px; }
    .pages .single-pages.whmcs {
      position: relative; }
      .pages .single-pages.whmcs .part-img {
        border: 5px solid #78c04a;
        padding: 5px; }
      .pages .single-pages.whmcs:after {
        position: absolute;
        background: url(../img/whmcs.png) center center no-repeat;
        width: 250px;
        content: '';
        background-size: 80%;
        height: 90px;
        z-index: 55;
        left: 0;
        margin-left: -80px;
        -webkit-transform: rotate(-35deg);
        -ms-transform: rotate(-35deg);
        transform: rotate(-35deg);
        margin-top: -20px;
        top: 0;
        border-radius: 50%;
        border: 5px solid #78c04a;
        background-color: #fff; }
    .pages .single-pages:hover .part-img .part-hover {
      visibility: visible;
      opacity: 1; }
    .pages .single-pages .part-img {
      height: 350px;
      overflow: hidden;
      -webkit-box-shadow: 0 7px 40px -5px rgba(0, 0, 0, 0.16);
      box-shadow: 0 7px 40px -5px rgba(0, 0, 0, 0.16);
      position: relative; }
      .pages .single-pages .part-img img {
        width: 100%; }
      .pages .single-pages .part-img .part-hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 123, 255, 0.4);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in; }
        .pages .single-pages .part-img .part-hover .view a {
          display: inline-block;
          color: #007bff;
          width: 50px;
          height: 50px;
          border: 1px solid #fff;
          text-align: center;
          line-height: 50px;
          border-radius: 50%;
          background: #fff; }
    .pages .single-pages .part-text {
      text-align: center; }
      .pages .single-pages .part-text h3 {
        font-size: 20px;
        font-weight: 700;
        margin-top: 25px;
        margin-bottom: 13px; }
      .pages .single-pages .part-text span.subtitle {
        font-size: 16px;
        font-weight: 500; }

/*==========================================
    features
==========================================*/
.features {
  padding: 120px 0 90px;
  background: url("../img/banner.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
  display: none; }
  .features:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0c1a26;
    opacity: .96;
    z-index: -1; }
  .features .section-title h2 {
    color: #fff; }
  .features .section-title p {
    color: #fff;
    opacity: .8;
    font-weight: 300; }
  .features .single-feature {
    text-align: center;
    -webkit-box-shadow: 6px 6px 39px -11px rgba(0, 0, 0, 0.4);
    box-shadow: 6px 6px 39px -11px rgba(0, 0, 0, 0.4);
    padding: 40px 0;
    margin-bottom: 30px;
    background: #020c16; }
    .features .single-feature .part-icon {
      display: inline-block;
      width: 60px;
      margin-bottom: 25px; }
    .features .single-feature h3 {
      color: #fff;
      font-size: 20px; }

/*==========================================
    suggested web
==========================================*/
.suggested-web {
  padding: 120px 0;
  display: none; }
  .suggested-web .single-web {
    border: 1px solid rgba(2, 29, 83, 0.09);
    padding: 15px; }
    .suggested-web .single-web a {
      text-align: center;
      display: block; }
      .suggested-web .single-web a img {
        margin-bottom: 25px;
        -webkit-box-shadow: 0 7px 40px -5px rgba(0, 0, 0, 0.16);
        box-shadow: 0 7px 40px -5px rgba(0, 0, 0, 0.16); }
      .suggested-web .single-web a span.web-name {
        display: inline-block;
        font-size: 20px;
        font-weight: 700;
        color: #021d53;
        margin-bottom: 10px; }

/*==========================================
    footer
==========================================*/
.footer {
  background: #007bff; }
  .footer p {
    color: #fff;
    margin: 0;
    font-weight: 300;
    padding: 30px 0;
    text-align: center; }
    .footer p a {
      color: #fff; }
